<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TryGrandCenterDispatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A2048161D2C9FB700FBF9B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A20482F1D2C9FB800FBF9B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A20483A1D2C9FB800FBF9B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
